@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Merriweather", sans-serif;
  overflow-x: hidden;
}
@keyframes customEnterOverlayAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveOverlayAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes customEnterModalAnimation {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveModalAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.2);
  }
}

@layer components {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .stickyNavbar {
    @apply sticky top-0;
  }

  .stickyNavbarStyles {
    @apply flex bg-[#F6F8FB] items-center justify-between w-full px-8 sm:px-16 py-5 shadow-lg;
    z-index: 50;
  }

  .sidebar-link {
    @apply px-10 rounded-lg py-4 text-lg text-[#5C637C] md:text-sm cursor-pointer hover:bg-white hover:shadow-md transition duration-200 ease-in-out;
  }

  .socialLink {
    @apply flex items-center justify-center hover:shadow-lg shadow-2xl w-14 h-14 rounded-2xl p-3.5 cursor-pointer border border-transparent hover:border-gray-200;
    background-color: #F6F8FB; /* Light mode background color */
    transition: background-color 0.3s ease;
  }

  @media (prefers-color-scheme: dark) {
    .socialLink {
      background-color: #1A202C; /* Dark mode background color */
    }
  }

  .active {
    @apply bg-white shadow-sm;
  }

  .navLink {
    @apply px-3 py-2 rounded-lg border border-transparent hover:bg-white hover:shadow-md cursor-pointer;
  }

  .hobbyBox {
    @apply flex items-center justify-around px-5 py-4 bg-custom-lightGray rounded-3xl space-x-5 cursor-pointer hover:shadow-xl shadow-inner border border-transparent hover:border-gray-200;
  }

  .hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}


.contact-button, .resume-button {
  background-color: #5C637C; /* Example background color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact-button:hover, .resume-button:hover {
  transform: scale(1.05);
  background-color: #4b5268; /* Slightly darker background on hover */
}